.container {
  position: relative;
  background-color: #f1f2f2;

  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  scroll-snap-align: start;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  max-width: 1200px;
  min-width: 375px;
  height: 100%;
  padding-block: 40px 20px;

  /* border: 1px solid; */
}

.card-body {
  flex: 1;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  font-size: 14px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.7;
}

.intro h1 {
  font-size: 24px;
  font-weight: 500;
}

.intro h1 strong {
  padding-inline: 4px;
  font-size: 34px;
  font-weight: 700;
  color: #232323;
}

.scroll-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  width: fit-content;
  margin-top: 100px;
  font-size: 24px;
}

.scroll-icon span {
  font-size: 12px;
}
